# ===== Environment variables =====
.env         

# ===== Python cache =====
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# ===== Virtual environments =====
venv/
env/
.venv/

# ===== IDE / Editor files =====
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ===== OS files =====
.DS_Store
Thumbs.db

# ===== Logs =====
*.log
